// || GENERAL
/*
:root {
    --background-app: #151515;
    --background-panel: #301B3F;
    --one: #3C415C;
    --two: #B4A5A5;
    --text: #fff;
}

*, *:before, *:after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: var(--text);
    font-family: 'Roboto', sans-serif;
}

// || APP
.app {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--background-app);
}

.panel {
    background: var(--background-panel);
}

svg {
    background: lightblue;
    width: 50%;
}

*/
  
#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

svg {
    background: #eee;
    overflow: visible;
    margin-bottom: 2rem;
    display: block;
}